NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres.PROJECT_REF:password@aws-0-REGION.pooler.supabase.com:5432/postgres?sslmode=require
PGSSL_REJECT_UNAUTHORIZED=false
FRONTEND_ORIGIN=https://seu-frontend.netlify.app
APP_NAME=Wifi Captive Portal
ROUTER_PROVIDER=mock
ROUTER_API_URL=
ROUTER_API_TOKEN=
